<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyline.kattaclientapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".ACRAClass"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".MainActivity"
            android:label="Menu Card"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".OrderPlaceActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OrderViewActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".OrderDetailsViewActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".App_intro"
            android:screenOrientation="sensorPortrait"/>

            <!--
            <intent-fliter>
                <action android:name="OPEN_ORDER_DETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-fliter>
            -->

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".TermsAndCondition" />
        <activity android:name=".Account" />
        <activity
            android:name=".Login"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Flashscreen"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".News" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Help" />
        <activity android:name=".AboutDevelopers" />
        <activity android:name=".Feedback" />
        <activity android:name=".Payment" />
    </application>

</manifest>